// Google font import
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
// Bootstrap 4 & Bootswatch Cosmo theme
// Feel free to comment out anything you're not using

//// bootswatch theme overrides
// @import "node_modules/bootswatch/dist/cerulean/variables";
// @import "node_modules/bootswatch/dist/cosmo/variables";
// @import "node_modules/bootswatch/dist/cyborg/variables";
// @import "node_modules/bootswatch/dist/darkly/variables";
// @import "node_modules/bootswatch/dist/flatly/variables";
// @import "node_modules/bootswatch/dist/journal/variables";
// @import "node_modules/bootswatch/dist/litera/variables";
// @import "node_modules/bootswatch/dist/lumen/variables";
@import "node_modules/bootswatch/dist/lux/variables";
// @import "node_modules/bootswatch/dist/materia/variables";
// @import "node_modules/bootswatch/dist/minty/variables";
// @import "node_modules/bootswatch/dist/pulse/variables";
// @import "node_modules/bootswatch/dist/sandstone/variables";
// @import "node_modules/bootswatch/dist/simplex/variables";
// @import "node_modules/bootswatch/dist/sketchy/variables";
// @import "node_modules/bootswatch/dist/slate/variables";
// @import "node_modules/bootswatch/dist/solar/variables";
// @import "node_modules/bootswatch/dist/spacelab/variables";
// @import "node_modules/bootswatch/dist/superhero/variables";
// @import "node_modules/bootswatch/dist/united/variables";
// @import "node_modules/bootswatch/dist/yeti/variables";


@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
// @import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";


//// bootswatch theme overrides
// @import "node_modules/bootswatch/dist/cerulean/bootswatch";
// @import "node_modules/bootswatch/dist/cosmo/bootswatch";
// @import "node_modules/bootswatch/dist/cyborg/bootswatch";
// @import "node_modules/bootswatch/dist/darkly/bootswatch";
// @import "node_modules/bootswatch/dist/flatly/bootswatch";
// @import "node_modules/bootswatch/dist/journal/bootswatch";
// @import "node_modules/bootswatch/dist/litera/bootswatch";
// @import "node_modules/bootswatch/dist/lumen/bootswatch";
@import "node_modules/bootswatch/dist/lux/bootswatch";
// @import "node_modules/bootswatch/dist/materia/bootswatch";
// @import "node_modules/bootswatch/dist/minty/bootswatch";
// @import "node_modules/bootswatch/dist/pulse/bootswatch";
// @import "node_modules/bootswatch/dist/sandstone/bootswatch";
// @import "node_modules/bootswatch/dist/simplex/bootswatch";
// @import "node_modules/bootswatch/dist/sketchy/bootswatch";
// @import "node_modules/bootswatch/dist/slate/bootswatch";
// @import "node_modules/bootswatch/dist/solar/bootswatch";
// @import "node_modules/bootswatch/dist/spacelab/bootswatch";
// @import "node_modules/bootswatch/dist/superhero/bootswatch";
// @import "node_modules/bootswatch/dist/united/bootswatch";
// @import "node_modules/bootswatch/dist/yeti/bootswatch";

// Component style imports

@import "src/templates/portfolio";


// page-level layout

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;

  & > .pageContent {
    flex: 1;
    overflow: auto;
    padding-top: 30px;

    .container {
      max-width: 700px;

    }
  }
}
.navbar {
    border-top: 4px solid #C7D2FF;
}

.blog-title {
  margin-bottom: 30px;
}

@media (max-width: 530px) {
  .navbar-brand {
    margin: 0 !important;
  }

  .container {
    flex-direction: column !important;
  }
}